<!doctype html>

{% extends 'base.html'%}
{% block title %}
    Artwork
{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/artwork.css')}}">
    <div class="artwork">
         <div>
            <h1> My Artwork </h1>
             <div class="container">
                 {% for item in data %}
                    <img src="{{ url_for('static', filename=item.get_path())}}">
                 {% endfor %}
             </div>
        </div>
    </div>
{% endblock %}

