<!doctype html>

{% extends 'base.html'%}
{% block title %}
    Artwork
{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/artwork.css')}}">
    <div class="artwork">
         <div>
            <h1> My Artwork </h1>
             <div class="column">
                 {% for item in data %}
                 <div class="container">
                     <img class="art" src="{{ url_for('static', filename=item[1])}}">
                     <div class="info">
                        <h2 class="test">Test words</h2>
                     </div>
                 </div>
                 {% endfor %}
             </div>
        </div>
    </div>
{% endblock %}

