<!doctype html>

{% extends 'base.html'%}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css')}}">
    <script type="text/javascript">
        var myBool = {{ bool }}
    </script>
    <div class="home">
         <div>
            <h1 id="hi"> print("Hi, I'm Finn") </h1>
        </div>

        <div id="bg">
            <div id="terminal">
                <div id="top">
                </div>
                <div class="text">
                    <pre id="typewriter">
<span>>>> python finnkliewer.py</span>
<span>Website Starting</span>
<span>Fetching HTML Pages</span>
<span>Fetching Photos</span>
<span>Artificially enhancing photos for additional clout</span>
<span>Website facade operational</span>
<span>Injecting Bitcoin Miner</span>
<span>Stage 1/3</span>
<span>Stage 2/3</span>
<span>Stage 3/3</span>
<span>Bitcoin miner injected; initiating hashing</span>
<span>CRITICAL ERROR: CONSOLE DISPLAYED TO USERS; ATTEMPTING TO DISTRACT</span>
<span>The FitnessGram Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly but gets--- </span>
<span>Error resolved; projecting website facade now</span>
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/typeOnText.js')}}"></script>
<!--    <script type="text/javascript" src="{{ url_for('static', filename='js/pageload.js')}}"></script>-->
<!--    <script type="text/javascript" src="{{ url_for('static', filename='js/scaleAnimation.js')}}"></script>-->

{% endblock %}

