<!doctype html>

{% extends 'base.html'%}
{% block title %}
    Photography
{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/photog.css')}}">
    <div class="photog">
        <h1> My Photography </h1>
         <div class="container">
             <div class="row">
                 {% for list in data %}
                    <div class="column">
                       {% for item in list %}
                        <img src="{{ url_for('static', filename=item[0])}}">
                       {% endfor %}
                    </div>
                 {% endfor %}
             </div>

        </div>I hj
    </div>
{% endblock %}

