#artwork {
    color: #3a94a5;
}
h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 60px;
}
.column {
    width: 80%;
    display: block;
    margin: auto;
}
.container {
    position: relative;
    width: 100%;
}

.art {
    width: 60%;
    transition: 0.5s ease;
    display: block;
    margin: auto;
}
.info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 80%;
    width: 40%;
    z-index: -1;
    background: #3a94a5;
    transition: .5s ease;
}
.container:hover .art {
    transform: translateX(-30%);

}
.container:hover .info {
    transform: translateX(60%);
}
