
#github {
    color: #3a94a5;
}
h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 60px;
}
.float_container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
}
.float_child {
    position: relative;
    margin: 30px 20px;
    width: 500px;
    height: 200px;
    padding: 1.5em;
    padding-top: 1em;
    background-color: white;
    border-radius: 6px;
    transition-duration: 0.7s;
}
.float_child:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
}
.title {
    font-size: 30px;
    color: #3a94a5;
    font-weight: 500;
}
.desc {
    margin: 0.3em 0;
    height: 55%;
    overflow: hidden;

}
.stats span {
    margin-right: 3em;
    font-weight: 500;
    font-size: 18px;
}
span {
    color: black;
    margin
}

@media (max-width: 634px) {
 .title {
    font-size: 22px;
    color: #3a94a5;
    font-weight: 500;
}
.stats span {
    margin-right: 3em;
    font-weight: 500;
    font-size: 14px;
}
}
@media (max-width: 475px) {
 .title {
    font-size: 16px;
    color: #3a94a5;
    font-weight: 500;
}
.stats span {
    margin-right: 3em;
    font-weight: 500;
    font-size: 10px;
}
.float_child {
    height: 180px;
}

}
