#home {
    color: #7f8386;
}
#hi {
  color: #fff;
  padding-top: 5em;
  padding-left: 2em;
}
#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #b4b4b4;
}

#bg #terminal {
    background-color: #0b1323;
    display: block;
    margin: auto;
    width: 950px;
    max-width: 90%;
    height: 700px;
    max-height:65%;
    border-radius: 8px;
    color: white;
    font-size: 7px;
}
#terminal .text {
    width: 100%;
    height: 87%;
    margin: 20px;
}
#terminal span {
    white-space:normal;
}
/*#terminal p {
    color: white;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    border-right: .15em solid white;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
} */

#typewriter{
    font-size: 2em;
    margin: 0;
    font-family: "Courier New";

    &:after{
      content: "|";
      animation: blink 500ms linear infinite alternate;
    }
}

@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

#terminal #top {
    background-color: #fbfbfb;
    height: 13%;
    width: 100%;
    border-radius: 8px;
}
